<?xml version="1.0" encoding="utf-8"?>
<Media Key="5e62cb71-001c-4079-95cf-d3865149ae92" Alias="Assurance-Audits.svg" Level="2">
  <Info>
    <Parent Key="2c39e4c2-3084-4cd5-b716-6fb5fd6ee54f">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/AssuranceAuditssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-21T16:45:03</CreateDate>
    <NodeName Default="Assurance-Audits.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qn1mbpah/assurance-audits.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>