<?xml version="1.0" encoding="utf-8"?>
<Media Key="97ae7757-f8f2-4398-8f83-c7ee5de9b33f" Alias="Bg-Map.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BgMapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T17:02:25</CreateDate>
    <NodeName Default="Bg-Map.svg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uxfay3pj/bg-map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>