<?xml version="1.0" encoding="utf-8"?>
<Media Key="0cfe0d10-5a39-4708-a908-e9332e599e66" Alias="Bond-Commodities.svg" Level="2">
  <Info>
    <Parent Key="2c39e4c2-3084-4cd5-b716-6fb5fd6ee54f">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/BondCommoditiessvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-21T16:45:07</CreateDate>
    <NodeName Default="Bond-Commodities.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2kyfz1rc/bond-commodities.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>