<?xml version="1.0" encoding="utf-8"?>
<Media Key="bd13526b-0e95-424c-aee2-017ef413d004" Alias="Contact-Image.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ContactImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T10:37:53</CreateDate>
    <NodeName Default="Contact-Image.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/thxlcx2o/contact-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>