<?xml version="1.0" encoding="utf-8"?>
<Media Key="bc00b704-6338-4648-83df-314b332b2f30" Alias="Finanical-Advisors.svg" Level="2">
  <Info>
    <Parent Key="2c39e4c2-3084-4cd5-b716-6fb5fd6ee54f">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/FinanicalAdvisorssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-21T16:45:18</CreateDate>
    <NodeName Default="Finanical-Advisors.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4yfkexrd/finanical-advisors.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>