<?xml version="1.0" encoding="utf-8"?>
<Media Key="9004ad8c-06a2-4c73-990a-0dee50cac645" Alias="Partner3.svg" Level="2">
  <Info>
    <Parent Key="c2edfbae-f473-4982-9e00-cb084bde13b9">Partners</Parent>
    <Path>/Partners/Partner3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T17:52:02</CreateDate>
    <NodeName Default="Partner3.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pyikm2vz/partner3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>