<?xml version="1.0" encoding="utf-8"?>
<Media Key="cf6fac28-2ebf-41ab-a1b5-2c91e8980ff1" Alias="Partner4.svg" Level="2">
  <Info>
    <Parent Key="c2edfbae-f473-4982-9e00-cb084bde13b9">Partners</Parent>
    <Path>/Partners/Partner4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T17:51:57</CreateDate>
    <NodeName Default="Partner4.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1iin0lne/partner4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>