<?xml version="1.0" encoding="utf-8"?>
<Media Key="8626b43e-9548-446b-b85c-d58d48734657" Alias="Partner6.svg" Level="2">
  <Info>
    <Parent Key="c2edfbae-f473-4982-9e00-cb084bde13b9">Partners</Parent>
    <Path>/Partners/Partner6svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T17:51:49</CreateDate>
    <NodeName Default="Partner6.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zqejizct/partner6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>