<?xml version="1.0" encoding="utf-8"?>
<Media Key="c2edfbae-f473-4982-9e00-cb084bde13b9" Alias="Partners" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Partners</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-22T17:51:44</CreateDate>
    <NodeName Default="Partners" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>