<?xml version="1.0" encoding="utf-8"?>
<Media Key="9263a138-a6d2-4dfb-9264-d9e6a4ec6ae5" Alias="Risk-Management.svg" Level="2">
  <Info>
    <Parent Key="2c39e4c2-3084-4cd5-b716-6fb5fd6ee54f">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/RiskManagementsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-21T16:45:36</CreateDate>
    <NodeName Default="Risk-Management.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ziomc2gj/risk-management.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>