<?xml version="1.0" encoding="utf-8"?>
<Media Key="2c39e4c2-3084-4cd5-b716-6fb5fd6ee54f" Alias="Services Thumbnails" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServicesThumbnails</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-21T16:43:02</CreateDate>
    <NodeName Default="Services Thumbnails" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>