<?xml version="1.0" encoding="utf-8"?>
<Media Key="3d375c2f-5098-47f1-9e51-4ca715c4ef45" Alias="Service-Image.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServiceImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T20:26:53</CreateDate>
    <NodeName Default="Service-Image.svg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1xqjlx2d/service-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>