<?xml version="1.0" encoding="utf-8"?>
<Media Key="9f11f0cb-a32b-42a1-a944-a3542654f14c" Alias="Signature.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Signaturesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T16:20:15</CreateDate>
    <NodeName Default="Signature.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hfglg5jq/signature.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>