<?xml version="1.0" encoding="utf-8"?>
<Media Key="cbf229e0-c142-46f4-89e0-f0ea779a09fc" Alias="Stars.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Starssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T15:32:09</CreateDate>
    <NodeName Default="Stars.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ckkfakkz/stars.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>