<?xml version="1.0" encoding="utf-8"?>
<Media Key="1aa5896d-f19d-49e8-909a-9223453826b0" Alias="Success-Image.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SuccessImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-23T17:11:45</CreateDate>
    <NodeName Default="Success-Image.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/t20ap4eg/success-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>