<?xml version="1.0" encoding="utf-8"?>
<Media Key="4eda3813-9d2b-40ed-8043-6a43666c9c1e" Alias="Team-Member1.svg" Level="2">
  <Info>
    <Parent Key="27b71cc4-2fd2-44ed-91b0-502365743312">Team Members</Parent>
    <Path>/TeamMembers/TeamMember1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-20T13:02:40</CreateDate>
    <NodeName Default="Team-Member1.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2gchrlbq/team-member1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>