<?xml version="1.0" encoding="utf-8"?>
<Media Key="03e013c7-373f-48f4-b2c6-2a4644c9460c" Alias="Team-Member2.svg" Level="2">
  <Info>
    <Parent Key="27b71cc4-2fd2-44ed-91b0-502365743312">Team Members</Parent>
    <Path>/TeamMembers/TeamMember2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-20T13:05:42</CreateDate>
    <NodeName Default="Team-Member2.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gwxefyje/team-member2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>