<?xml version="1.0" encoding="utf-8"?>
<Media Key="f5369700-e512-439a-8b79-73eee577fb2b" Alias="Team-Member3.svg" Level="2">
  <Info>
    <Parent Key="27b71cc4-2fd2-44ed-91b0-502365743312">Team Members</Parent>
    <Path>/TeamMembers/TeamMember3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-20T13:06:05</CreateDate>
    <NodeName Default="Team-Member3.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4ivjifyj/team-member3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>