<?xml version="1.0" encoding="utf-8"?>
<Media Key="1c02e253-3dac-4c77-a471-41bb45a84485" Alias="Team-Member7.svg" Level="2">
  <Info>
    <Parent Key="27b71cc4-2fd2-44ed-91b0-502365743312">Team Members</Parent>
    <Path>/TeamMembers/TeamMember7svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-20T13:07:37</CreateDate>
    <NodeName Default="Team-Member7.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ufplb5vx/team-member7.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>