<?xml version="1.0" encoding="utf-8"?>
<Media Key="27b71cc4-2fd2-44ed-91b0-502365743312" Alias="Team Members" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TeamMembers</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-20T13:02:28</CreateDate>
    <NodeName Default="Team Members" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>