<?xml version="1.0" encoding="utf-8"?>
<Media Key="0885cebe-b4a3-47b2-ac4a-b8005a03f03e" Alias="Team-Member6.svg" Level="2">
  <Info>
    <Parent Key="27b71cc4-2fd2-44ed-91b0-502365743312">Team Members</Parent>
    <Path>/TeamMembers/TeamMember6svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-20T13:07:13</CreateDate>
    <NodeName Default="Team-Member6.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jrzdp0vy/team-member6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>