<?xml version="1.0" encoding="utf-8"?>
<Media Key="47fe2178-485c-4007-9597-0e7a7ad06661" Alias="Team-Member4.svg" Level="2">
  <Info>
    <Parent Key="27b71cc4-2fd2-44ed-91b0-502365743312">Team Members</Parent>
    <Path>/TeamMembers/TeamMember4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-20T13:06:28</CreateDate>
    <NodeName Default="Team-Member4.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rkofzjkh/team-member4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>