<?xml version="1.0" encoding="utf-8"?>
<Content Key="2f615efa-e3e2-4fde-bbc8-80b1645598ce" Alias="2025-11-06 17:34 - Ragge" Level="2">
  <Info>
    <Parent Key="909aac6e-4b49-40f1-9199-de739c0c1664">Form Submissons</Parent>
    <Path>/FormSubmissons/Ragge</Path>
    <Trashed>false</Trashed>
    <ContentType>formRequest</ContentType>
    <CreateDate>2025-11-06T17:34:41</CreateDate>
    <NodeName Default="2025-11-06 17:34 - Ragge" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <formRequestEmail>
      <Value><![CDATA[ida.b6@telia.com]]></Value>
    </formRequestEmail>
    <formRequestName>
      <Value><![CDATA[Ragge]]></Value>
    </formRequestName>
    <formRequestOption>
      <Value><![CDATA[Business]]></Value>
    </formRequestOption>
    <formRequestPhone>
      <Value><![CDATA[0767752733]]></Value>
    </formRequestPhone>
  </Properties>
</Content>