<?xml version="1.0" encoding="utf-8"?>
<Content Key="10fd7692-cb77-4e25-a7a3-0e1152e656b3" Alias="2025-10-30 16:47 - Ida Berg" Level="2">
  <Info>
    <Parent Key="909aac6e-4b49-40f1-9199-de739c0c1664">Form Submissons</Parent>
    <Path>/FormSubmissons/IdaBerg</Path>
    <Trashed>false</Trashed>
    <ContentType>formRequest</ContentType>
    <CreateDate>2025-10-30T16:47:56</CreateDate>
    <NodeName Default="2025-10-30 16:47 - Ida Berg" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <formRequestEmail>
      <Value><![CDATA[ida.berg2003@gmail.com]]></Value>
    </formRequestEmail>
    <formRequestName>
      <Value><![CDATA[Ida Berg]]></Value>
    </formRequestName>
    <formRequestOption>
      <Value><![CDATA[Financial Consulting]]></Value>
    </formRequestOption>
    <formRequestPhone>
      <Value><![CDATA[0767752733]]></Value>
    </formRequestPhone>
  </Properties>
</Content>