<?xml version="1.0" encoding="utf-8"?>
<Content Key="44dfca6c-54b9-4d5d-923a-d536cbbc0bbe" Alias="2025-10-30 16:35 - Ragge" Level="2">
  <Info>
    <Parent Key="909aac6e-4b49-40f1-9199-de739c0c1664">Form Submissons</Parent>
    <Path>/FormSubmissons/Ragge</Path>
    <Trashed>false</Trashed>
    <ContentType>formRequest</ContentType>
    <CreateDate>2025-10-30T16:35:45</CreateDate>
    <NodeName Default="2025-10-30 16:35 - Ragge" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <formRequestEmail>
      <Value><![CDATA[ida.b6@telia.com]]></Value>
    </formRequestEmail>
    <formRequestName>
      <Value><![CDATA[Ragge]]></Value>
    </formRequestName>
    <formRequestOption>
      <Value><![CDATA[Tax Planning]]></Value>
    </formRequestOption>
    <formRequestPhone>
      <Value><![CDATA[123456789]]></Value>
    </formRequestPhone>
  </Properties>
</Content>