<?xml version="1.0" encoding="utf-8"?>
<Content Key="90ea2375-3982-413b-8a2e-ecec8928d8f5" Alias="2025-11-06 17:33 - Ida Berg" Level="2">
  <Info>
    <Parent Key="909aac6e-4b49-40f1-9199-de739c0c1664">Form Submissons</Parent>
    <Path>/FormSubmissons/IdaBerg</Path>
    <Trashed>false</Trashed>
    <ContentType>formRequest</ContentType>
    <CreateDate>2025-11-06T17:33:06</CreateDate>
    <NodeName Default="2025-11-06 17:33 - Ida Berg" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <formRequestEmail>
      <Value><![CDATA[ida.berg2003@gmail.com]]></Value>
    </formRequestEmail>
    <formRequestName>
      <Value><![CDATA[Ida Berg]]></Value>
    </formRequestName>
    <formRequestOption>
      <Value><![CDATA[Financial Consulting]]></Value>
    </formRequestOption>
    <formRequestPhone>
      <Value><![CDATA[0767752733]]></Value>
    </formRequestPhone>
  </Properties>
</Content>