<?xml version="1.0" encoding="utf-8"?>
<Content Key="e2ef409e-f21f-4ad2-81a2-64053d7ca5f9" Alias="About" Level="2">
  <Info>
    <Parent Key="3927317f-bb5c-45af-8813-57dbd91208ef">Onatrix</Parent>
    <Path>/Onatrix/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2025-10-20T13:07:47</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="474111b0-8a33-4e48-be8c-962882cd3a2c">AboutPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[About Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "ee597b30-04d1-4cfe-845a-5d3a2b7c0c4e",
      "key": "5a727e82-0d98-4afe-91af-7229818e4296",
      "udi": null,
      "values": [
        {
          "alias": "teamTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EA team of professionals\u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003Ewith years of experience\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "teamLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Experts"
        },
        {
          "alias": "teamMemberList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "628a1771-1ed7-460d-9f8f-e65beb8bc3b3",
                "key": "72a09dd9-fa22-418c-a214-33c8800bf40e",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Newton"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "79483dd4-e295-42e8-a6c0-17e265bac60d",
                        "mediaKey": "4eda3813-9d2b-40ed-8043-6a43666c9c1e",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "628a1771-1ed7-460d-9f8f-e65beb8bc3b3",
                "key": "bae16ff6-cf91-4ac6-b6ea-17273b781bae",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  },
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "AJ Carter"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "e447f63f-71d6-4d2b-842b-46fee3a36e46",
                        "mediaKey": "03e013c7-373f-48f4-b2c6-2a4644c9460c",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "628a1771-1ed7-460d-9f8f-e65beb8bc3b3",
                "key": "6ed460be-22b6-4f48-9312-474542d52ea6",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Business Specialist at Onatrix"
                  },
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Aaron Lambert"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "70bd549f-2de5-4533-9c30-4add73d892fa",
                        "mediaKey": "f5369700-e512-439a-8b79-73eee577fb2b",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "628a1771-1ed7-460d-9f8f-e65beb8bc3b3",
                "key": "93e90c92-1bc8-4ce3-94be-9f3b6b0f0717",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "CEO \u0026 Founder at Onatrix"
                  },
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Tina Fox"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "b6052656-5a6b-4bb8-abf0-29ee6fc1165d",
                        "mediaKey": "47fe2178-485c-4007-9597-0e7a7ad06661",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "628a1771-1ed7-460d-9f8f-e65beb8bc3b3",
                "key": "d60c0448-c465-496b-89b2-6f367aa7d640",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": " CFO \u0026 Co-Founderat Onatrix"
                  },
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Kerr"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "94aad711-1053-427d-9bc6-a361fcc4d27a",
                        "mediaKey": "0549649c-b626-485a-aa0a-a66fe0da31ec",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "628a1771-1ed7-460d-9f8f-e65beb8bc3b3",
                "key": "148328eb-b0f5-48a7-bfd2-866ee358cbc2",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Head of HR at Onatrix"
                  },
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Miranda Dayton"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "6706df88-2f93-457b-a158-55d44b8e564d",
                        "mediaKey": "0885cebe-b4a3-47b2-ac4a-b8005a03f03e",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "628a1771-1ed7-460d-9f8f-e65beb8bc3b3",
                "key": "64c9b99e-1e15-4ec3-b12e-61e793f0083e",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Banking Advisor at Swedbank"
                  },
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Kevin Gardner"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "5173b555-48ad-4a54-878d-c0cc78975a4d",
                        "mediaKey": "1c02e253-3dac-4c77-a471-41bb45a84485",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "72a09dd9-fa22-418c-a214-33c8800bf40e",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "bae16ff6-cf91-4ac6-b6ea-17273b781bae",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "6ed460be-22b6-4f48-9312-474542d52ea6",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "93e90c92-1bc8-4ce3-94be-9f3b6b0f0717",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "d60c0448-c465-496b-89b2-6f367aa7d640",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "148328eb-b0f5-48a7-bfd2-866ee358cbc2",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "64c9b99e-1e15-4ec3-b12e-61e793f0083e",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "72a09dd9-fa22-418c-a214-33c8800bf40e",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "bae16ff6-cf91-4ac6-b6ea-17273b781bae",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "6ed460be-22b6-4f48-9312-474542d52ea6",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "93e90c92-1bc8-4ce3-94be-9f3b6b0f0717",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "d60c0448-c465-496b-89b2-6f367aa7d640",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "148328eb-b0f5-48a7-bfd2-866ee358cbc2",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "64c9b99e-1e15-4ec3-b12e-61e793f0083e",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "5a727e82-0d98-4afe-91af-7229818e4296",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "5a727e82-0d98-4afe-91af-7229818e4296",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>