<?xml version="1.0" encoding="utf-8"?>
<Content Key="a127273d-bacd-4bb5-b1db-8fcabe2388de" Alias="Contact" Level="2">
  <Info>
    <Parent Key="3927317f-bb5c-45af-8813-57dbd91208ef">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-20T11:50:47</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a1c54e83-4704-4626-9d72-b54686229e28">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "Contact Us"
}]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "de430483-5117-407d-9653-e1128845474f",
      "key": "1455681b-fc1b-4bf3-83a0-44628ff68459",
      "udi": null,
      "values": [
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "3f24cf5f-3597-4363-8452-85bd574a9be9",
              "mediaKey": "bd13526b-0e95-424c-aee2-017ef413d004",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactLocation",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Office location"
        },
        {
          "alias": "contactPhone",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Phone number"
        },
        {
          "alias": "contactEmail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "E-mail address"
        }
      ]
    },
    {
      "contentTypeKey": "7942867b-ce35-4ea2-9806-4e80dacbe818",
      "key": "7d7a033a-8dfa-491f-90e6-b5d221fe6f25",
      "udi": null,
      "values": [
        {
          "alias": "partnerLogo1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "6fe9fd0b-023d-40ec-bfd4-353b8681ff05",
              "mediaKey": "4368a56e-c428-492a-84c2-0e14849f6864",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "partnerLogo2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a49f665a-8150-48af-8ba5-b3687b658dde",
              "mediaKey": "0abfe923-8eff-4e5f-95f4-9d7787604ee5",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "partnerLogo3",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "40a42656-212e-401f-8b8d-8e4aefe32635",
              "mediaKey": "9004ad8c-06a2-4c73-990a-0dee50cac645",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "partnerLogo4",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "dc53ea78-8d7e-468e-ad30-6fbea8a40317",
              "mediaKey": "cf6fac28-2ebf-41ab-a1b5-2c91e8980ff1",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "partnerLogo5",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "9fc1421e-84a0-4bd1-aede-f174ccea126f",
              "mediaKey": "446e9d5b-e394-4e1f-8da7-b052d07dcdac",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "partnerLogo6",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "388768bf-a1a0-4627-ab0d-ddd723ae6485",
              "mediaKey": "8626b43e-9548-446b-b85c-d58d48734657",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "329078f8-dfa5-476a-9ae9-0f3c5829d100",
      "key": "6fd3895a-757d-40ae-8b7b-9a251a09f3ed",
      "udi": null,
      "values": [
        {
          "alias": "mapBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "fa4817a3-e30b-458a-97a6-936d7fb43132",
              "mediaKey": "97ae7757-f8f2-4398-8f83-c7ee5de9b33f",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "formLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Request a call back"
        },
        {
          "alias": "formTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "formBody",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus."
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "a3d69a68-f422-4db8-8370-c1c6e63ec20d",
      "key": "8f2f8438-9836-45d3-87f2-7c7a061f0011",
      "udi": null,
      "values": [
        {
          "alias": "contactBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        }
      ]
    },
    {
      "contentTypeKey": "9f90e8a1-7cbb-4982-831d-e771c5c24b0e",
      "key": "4c882ac0-c303-4122-a62e-3625620e4f35",
      "udi": null,
      "values": [
        {
          "alias": "formRequestOptions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Financial Consulting\nBusiness\nTax Planning"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "1455681b-fc1b-4bf3-83a0-44628ff68459",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7d7a033a-8dfa-491f-90e6-b5d221fe6f25",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6fd3895a-757d-40ae-8b7b-9a251a09f3ed",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "1455681b-fc1b-4bf3-83a0-44628ff68459",
        "contentUdi": null,
        "settingsKey": "8f2f8438-9836-45d3-87f2-7c7a061f0011",
        "settingsUdi": null
      },
      {
        "contentKey": "6fd3895a-757d-40ae-8b7b-9a251a09f3ed",
        "contentUdi": null,
        "settingsKey": "4c882ac0-c303-4122-a62e-3625620e4f35",
        "settingsUdi": null
      },
      {
        "contentKey": "7d7a033a-8dfa-491f-90e6-b5d221fe6f25",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>