<?xml version="1.0" encoding="utf-8"?>
<Content Key="a127273d-bacd-4bb5-b1db-8fcabe2388de" Alias="Contact" Level="2">
  <Info>
    <Parent Key="3927317f-bb5c-45af-8813-57dbd91208ef">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-20T11:50:47</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a1c54e83-4704-4626-9d72-b54686229e28">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "Contact Us"
}]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "de430483-5117-407d-9653-e1128845474f",
      "key": "1455681b-fc1b-4bf3-83a0-44628ff68459",
      "udi": null,
      "values": [
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "3f24cf5f-3597-4363-8452-85bd574a9be9",
              "mediaKey": "bd13526b-0e95-424c-aee2-017ef413d004",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactLocation",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Office location"
        },
        {
          "alias": "contactPhone",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Phone number"
        },
        {
          "alias": "contactEmail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "E-mail address"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "a3d69a68-f422-4db8-8370-c1c6e63ec20d",
      "key": "8f2f8438-9836-45d3-87f2-7c7a061f0011",
      "udi": null,
      "values": [
        {
          "alias": "contactBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "1455681b-fc1b-4bf3-83a0-44628ff68459",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "1455681b-fc1b-4bf3-83a0-44628ff68459",
        "contentUdi": null,
        "settingsKey": "8f2f8438-9836-45d3-87f2-7c7a061f0011",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>