<?xml version="1.0" encoding="utf-8"?>
<Content Key="a127273d-bacd-4bb5-b1db-8fcabe2388de" Alias="Contact" Level="2">
  <Info>
    <Parent Key="3927317f-bb5c-45af-8813-57dbd91208ef">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-20T11:50:47</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a1c54e83-4704-4626-9d72-b54686229e28">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
  </Properties>
</Content>