<?xml version="1.0" encoding="utf-8"?>
<Content Key="388a5ed1-dbad-4bd1-8c14-834dd345ad6b" Alias="Financial Advisor" Level="3">
  <Info>
    <Parent Key="4da1a0d1-48f1-490f-96f6-b769b244cbaa">Services</Parent>
    <Path>/Onatrix/Services/FinancialAdvisor</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-21T16:46:49</CreateDate>
    <NodeName Default="Financial Advisor" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fe89c673-cfd8-4004-b7bf-4495eef9299b">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Financial Advisor]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "142014de-a5eb-40e9-b01c-96ced01ffe2d",
      "key": "d7123b5a-e3a0-4780-8e18-b9715a891126",
      "udi": null,
      "values": [
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non."
        },
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About Us"
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "0f4af8f0-f11d-4eee-836e-d5ae0cb70f29",
              "mediaKey": "bc00b704-6338-4648-83df-314b332b2f30",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "d7123b5a-e3a0-4780-8e18-b9715a891126",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "d7123b5a-e3a0-4780-8e18-b9715a891126",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailTumbnail>
      <Value><![CDATA[[
  {
    "key": "e5006c6e-9ed2-4e80-b8c6-7de8acc4a5d7",
    "mediaKey": "bc00b704-6338-4648-83df-314b332b2f30",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailTumbnail>
  </Properties>
</Content>