<?xml version="1.0" encoding="utf-8"?>
<Content Key="3927317f-bb5c-45af-8813-57dbd91208ef" Alias="Onatrix" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Onatrix</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-10-20T11:01:29</CreateDate>
    <NodeName Default="Onatrix" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3bb1d65e-1ac2-4e9c-bd24-39ba9caa90ba">HomePage</Template>
  </Info>
  <Properties>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "7994f359-0916-4848-a0a3-6d3016ab0e64",
      "key": "48ce4b56-9223-4254-a0f9-292d7a00fa78",
      "udi": null,
      "values": [
        {
          "alias": "heroLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Contact Us",
              "target": null,
              "udi": "umb://document/a127273dbacd4bb5b1db8fcabe2388de",
              "url": null,
              "queryString": null
            }
          ]
        },
        {
          "alias": "heroTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We bring success to you"
        },
        {
          "alias": "heroText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur. Adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "heroBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "eb78abfb-9374-4b14-b3fe-611e839d5225",
              "mediaKey": "85a736dc-1c95-4944-bdea-9142f7ec9799",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "ce9ef18a-e11e-4212-b9bc-cbc381b218ec",
      "key": "e4039570-9d3c-4227-92d0-257ed5847922",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "5efa02eb-6ba9-4461-b956-2e4723c674de",
      "key": "8ba90d0b-456a-4516-9bd3-4451129f5833",
      "udi": null,
      "values": [
        {
          "alias": "aboutLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About Us"
        },
        {
          "alias": "aboutTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We have 40 years experience"
        },
        {
          "alias": "aboutText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-md font-light\u0022\u003E\u003Cem\u003E\u003Cspan class=\u0022text-body-text\u0022\u003E\u201CWe have over 25 years of experience providing expert financial advice to both businesses and individuals.\u201D\u003C/span\u003E\u003C/em\u003E\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E\u003Cp\u003E\u003Cspan class=\u0022text-body-text\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "aboutSignatureText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Tina Fox - CEO \u0026 Founder"
        },
        {
          "alias": "aboutSignature",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "2f62c798-a7d3-44f2-9980-96fdcb7f9e90",
              "mediaKey": "9f11f0cb-a32b-42a1-a944-a3542654f14c",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "7f2863e5-57bb-450a-8aa8-a484a1903d52",
      "key": "7935a218-81b3-4afe-89cd-641672f992ff",
      "udi": null,
      "values": [
        {
          "alias": "trustTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-lg font-bold\u0022 style=\u0022text-align: center;\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003EWe are trusted by more than\u003C/span\u003E\u003C/p\u003E\u003Cp class=\u0022text-rte-lg font-bold\u0022 style=\u0022text-align: center;\u0022\u003E\u003Cspan class=\u0022text-secondary\u0022\u003E4.000\u002B clients\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "trustText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-sm font-regular\u0022 style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam accumsanporttitor arcu, ac tincidunt lectus tincidunt sed.\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "trustLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Read our Story",
              "target": null,
              "udi": "umb://document/e2ef409ef21f4ad281a264053d7ca5f9",
              "url": null,
              "queryString": null
            }
          ]
        },
        {
          "alias": "trustImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "065ac672-9108-4b04-9ec9-d796d02f2e46",
              "mediaKey": "05912e4c-835b-4910-9ff1-4a003cdb0cf1",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "7942867b-ce35-4ea2-9806-4e80dacbe818",
      "key": "f317bc6c-dce3-47b9-b97e-500e9089ef6f",
      "udi": null,
      "values": [
        {
          "alias": "partnerLogo1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "e53393bb-47d9-487f-8171-51f0a96916ea",
              "mediaKey": "4368a56e-c428-492a-84c2-0e14849f6864",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "partnerLogo2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "90df1b17-828f-4fee-8d06-1dc584064930",
              "mediaKey": "0abfe923-8eff-4e5f-95f4-9d7787604ee5",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "partnerLogo3",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "21e7a46a-dddc-4fb7-88fb-2a3c570c404b",
              "mediaKey": "9004ad8c-06a2-4c73-990a-0dee50cac645",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "partnerLogo4",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c008ce10-d9df-4d2e-b91f-fa29cd6c9ae9",
              "mediaKey": "cf6fac28-2ebf-41ab-a1b5-2c91e8980ff1",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "partnerLogo5",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c2133606-1659-4afe-a6c8-9f39fef0363d",
              "mediaKey": "446e9d5b-e394-4e1f-8da7-b052d07dcdac",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "partnerLogo6",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "44e41f75-c479-41f3-99f0-9cccf9414dd6",
              "mediaKey": "8626b43e-9548-446b-b85c-d58d48734657",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "10492823-b59f-44c1-86f3-999c0e6a5cb0",
      "key": "9ec1d5bc-0a5c-40fa-b088-0572a3c1fda7",
      "udi": null,
      "values": [
        {
          "alias": "successLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Success Stories"
        },
        {
          "alias": "successTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Success Story"
        },
        {
          "alias": "successStories",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "03af3f3e-df36-4eb6-a024-0f8a27829157",
                "key": "5baf2a65-44cf-4f09-8cfe-40a14f14218d",
                "udi": null,
                "values": [
                  {
                    "alias": "successStoryTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "689"
                  },
                  {
                    "alias": "successStoryText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "More than 100 customers has been served"
                  }
                ]
              },
              {
                "contentTypeKey": "03af3f3e-df36-4eb6-a024-0f8a27829157",
                "key": "c9ed810a-0d60-418b-a41b-4a33e2431728",
                "udi": null,
                "values": [
                  {
                    "alias": "successStoryText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "More than 370 projects has been completed"
                  },
                  {
                    "alias": "successStoryTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "370"
                  }
                ]
              },
              {
                "contentTypeKey": "03af3f3e-df36-4eb6-a024-0f8a27829157",
                "key": "2e601213-a32a-478f-849e-06abebf190e3",
                "udi": null,
                "values": [
                  {
                    "alias": "successStoryText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "More than 125 branches has been established in Europe and America"
                  },
                  {
                    "alias": "successStoryTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "125"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "5baf2a65-44cf-4f09-8cfe-40a14f14218d",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "c9ed810a-0d60-418b-a41b-4a33e2431728",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "2e601213-a32a-478f-849e-06abebf190e3",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "5baf2a65-44cf-4f09-8cfe-40a14f14218d",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "c9ed810a-0d60-418b-a41b-4a33e2431728",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "2e601213-a32a-478f-849e-06abebf190e3",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "successImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "e11cb17f-4902-4915-bc43-40e57f502480",
              "mediaKey": "1aa5896d-f19d-49e8-909a-9223453826b0",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "733e457c-c880-40e5-bd67-95ddd6a5dac4",
      "key": "c4fa34a3-91cb-4701-bcf2-d2da350d55bc",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-100",
            "value": "#f7f7f7"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "48ce4b56-9223-4254-a0f9-292d7a00fa78",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e4039570-9d3c-4227-92d0-257ed5847922",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8ba90d0b-456a-4516-9bd3-4451129f5833",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7935a218-81b3-4afe-89cd-641672f992ff",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f317bc6c-dce3-47b9-b97e-500e9089ef6f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "9ec1d5bc-0a5c-40fa-b088-0572a3c1fda7",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "48ce4b56-9223-4254-a0f9-292d7a00fa78",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "8ba90d0b-456a-4516-9bd3-4451129f5833",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "e4039570-9d3c-4227-92d0-257ed5847922",
        "contentUdi": null,
        "settingsKey": "c4fa34a3-91cb-4701-bcf2-d2da350d55bc",
        "settingsUdi": null
      },
      {
        "contentKey": "7935a218-81b3-4afe-89cd-641672f992ff",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "9ec1d5bc-0a5c-40fa-b088-0572a3c1fda7",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "f317bc6c-dce3-47b9-b97e-500e9089ef6f",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>