<?xml version="1.0" encoding="utf-8"?>
<Content Key="4da1a0d1-48f1-490f-96f6-b769b244cbaa" Alias="Services" Level="2">
  <Info>
    <Parent Key="3927317f-bb5c-45af-8813-57dbd91208ef">Onatrix</Parent>
    <Path>/Onatrix/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-10-20T11:28:18</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c8aa8eea-5b67-4c0a-9314-4056a7e5a1b1">ServicePage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "Our Services"
}]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "ce9ef18a-e11e-4212-b9bc-cbc381b218ec",
      "key": "19b21d0d-f69f-4d46-962d-277af6a548a1",
      "udi": null,
      "values": [
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "Our Services"
          }
        }
      ]
    },
    {
      "contentTypeKey": "de430483-5117-407d-9653-e1128845474f",
      "key": "f22ce6b8-41fa-4279-b806-2b81ea98c5ef",
      "udi": null,
      "values": [
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "85c4723f-3f24-4c0b-9904-b529adf7bb2b",
              "mediaKey": "bd13526b-0e95-424c-aee2-017ef413d004",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactLocation",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Office location"
        },
        {
          "alias": "contactPhone",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Phone number"
        },
        {
          "alias": "contactEmail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "E-mail address"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "733e457c-c880-40e5-bd67-95ddd6a5dac4",
      "key": "c9fb28ce-eda6-4498-ad3a-e70c514c086c",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "19b21d0d-f69f-4d46-962d-277af6a548a1",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f22ce6b8-41fa-4279-b806-2b81ea98c5ef",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "19b21d0d-f69f-4d46-962d-277af6a548a1",
        "contentUdi": null,
        "settingsKey": "c9fb28ce-eda6-4498-ad3a-e70c514c086c",
        "settingsUdi": null
      },
      {
        "contentKey": "f22ce6b8-41fa-4279-b806-2b81ea98c5ef",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>