<?xml version="1.0" encoding="utf-8"?>
<Content Key="f3a053a9-63b4-4029-870a-9aaf386f7c32" Alias="Service Test1" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/ServiceTest1</Path>
    <Trashed Parent="4da1a0d1-48f1-490f-96f6-b769b244cbaa">true</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-05T15:00:21</CreateDate>
    <NodeName Default="Service Test1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fe89c673-cfd8-4004-b7bf-4495eef9299b">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EWealth Management\u003C/p\u003E"
}]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[]]></Value>
    </sections>
    <serviceDetailAsides>
      <Value><![CDATA[]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailTumbnail>
      <Value><![CDATA[[
  {
    "key": "75ac3ad2-f862-4c01-b49f-be889a190264",
    "mediaKey": "1aa5896d-f19d-49e8-909a-9223453826b0",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailTumbnail>
  </Properties>
</Content>