<?xml version="1.0" encoding="utf-8"?>
<Content Key="6438c02f-fc78-4da2-8d40-7104a43e915a" Alias="ServiceTest6" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/ServiceTest6</Path>
    <Trashed Parent="4da1a0d1-48f1-490f-96f6-b769b244cbaa">true</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-05T15:04:14</CreateDate>
    <NodeName Default="ServiceTest6" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fe89c673-cfd8-4004-b7bf-4495eef9299b">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EStuff \u0026amp; Things\u003C/p\u003E"
}]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[]]></Value>
    </sections>
    <serviceDetailAsides>
      <Value><![CDATA[]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailTumbnail>
      <Value><![CDATA[[
  {
    "key": "7b83ddfe-c16f-4c69-b9ae-ee99529a8db8",
    "mediaKey": "fc01f630-1e6f-46c8-b67f-b26e4f4cac86",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailTumbnail>
  </Properties>
</Content>