<?xml version="1.0" encoding="utf-8"?>
<Content Key="770d690a-c964-4d82-b118-89d9883f30c3" Alias="Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-10-20T18:03:16</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactAdress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </contactAdress>
    <contactEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactEmail>
    <contactPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactPhone>
    <platformList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "16e170f5-13f6-4cba-a2e9-d28d0c046704",
      "key": "88ed0ccc-62d3-473e-8213-e95aa2144979",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Facebook"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.facebook.com"
        }
      ]
    },
    {
      "contentTypeKey": "16e170f5-13f6-4cba-a2e9-d28d0c046704",
      "key": "184e5c4d-34cc-409f-a5a3-dfecd14c675d",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "LinkedIn"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.Linkedin.com"
        }
      ]
    },
    {
      "contentTypeKey": "16e170f5-13f6-4cba-a2e9-d28d0c046704",
      "key": "4663a9ae-f5bd-4012-acca-f6b6b41a8495",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Twitter"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://x.com"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "88ed0ccc-62d3-473e-8213-e95aa2144979",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "184e5c4d-34cc-409f-a5a3-dfecd14c675d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4663a9ae-f5bd-4012-acca-f6b6b41a8495",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "88ed0ccc-62d3-473e-8213-e95aa2144979",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "184e5c4d-34cc-409f-a5a3-dfecd14c675d",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "4663a9ae-f5bd-4012-acca-f6b6b41a8495",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </platformList>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "00926ab5-49bf-45be-89b1-2239b5c91ac5",
    "mediaKey": "a087725d-f227-43e8-b956-8df9dd44c796",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
  </Properties>
</Content>