<?xml version="1.0" encoding="utf-8"?>
<Content Key="340d6aa9-2e05-4b42-be20-9bd8c6cb1480" Alias="Wealth Management" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/WealthManagement</Path>
    <Trashed Parent="4da1a0d1-48f1-490f-96f6-b769b244cbaa">true</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-05T15:00:53</CreateDate>
    <NodeName Default="Wealth Management" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fe89c673-cfd8-4004-b7bf-4495eef9299b">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EWealth Management\u003C/p\u003E"
}]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[]]></Value>
    </sections>
    <serviceDetailAsides>
      <Value><![CDATA[]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailTumbnail>
      <Value><![CDATA[[
  {
    "key": "92ce76ee-ad07-4d38-830e-d3fa68518314",
    "mediaKey": "fc01f630-1e6f-46c8-b67f-b26e4f4cac86",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailTumbnail>
  </Properties>
</Content>