@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;

<footer class="bg-black p-[.5rem]">
	<div class="flex gap-1 justify-center">
		<p class="text-primary">© Onatrix. All Rights Reserved. Credits to</p>
		<p class="text-secondary">Themesflat</p>
	</div>
</footer>