<?xml version="1.0" encoding="utf-8"?>
<DataType Key="00776dec-49ed-4dc6-b7b9-43e227a1beda" Alias="Form Request Options" Level="1">
  <Info>
    <Name>Form Request Options</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 1
}]]></Config>
</DataType>