<?xml version="1.0" encoding="utf-8"?>
<DataType Key="df0f2b26-bd8d-4050-b52b-0b1a1b31a7d3" Alias="Platform List" Level="1">
  <Info>
    <Name>Platform List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "16e170f5-13f6-4cba-a2e9-d28d0c046704",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>