<?xml version="1.0" encoding="utf-8"?>
<DataType Key="38a2c6e4-cffc-4f4a-b069-54768cd07b5b" Alias="Service Detail Asides" Level="1">
  <Info>
    <Name>Service Detail Asides</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "142014de-a5eb-40e9-b01c-96ced01ffe2d"
    }
  ]
}]]></Config>
</DataType>