<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0820a7af-d4da-423e-8769-52aa63780ae4" Alias="Success Stories" Level="1">
  <Info>
    <Name>Success Stories</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "03af3f3e-df36-4eb6-a024-0f8a27829157"
    }
  ]
}]]></Config>
</DataType>