<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d6ff8dc4-f967-48dc-83a5-90c234e1d147" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "628a1771-1ed7-460d-9f8f-e65beb8bc3b3",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>