<?xml version="1.0" encoding="utf-8"?>
<DataType Key="970910f2-5df2-492d-99a2-1dcccfcfa94e" Alias="Textstring" Level="1">
  <Info>
    <Name>Textstring</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 512
}]]></Config>
</DataType>