
.custom-pagination {
    @apply hidden md:flex md:justify-center md:gap-4 md:py-2 md:mt-6;
}

.custom-prev,
.custom-next {
    @apply text-lg flex items-center font-semibold text-primary cursor-pointer;
}

.swiper-button-disabled {
    @apply text-primary cursor-default;
}

.swiper-pagination {
    @apply flex justify-center items-center gap-2 relative !w-auto !bottom-0;
}

.swiper-pagination-bullet {
    @apply text-lg font-semibold flex justify-center items-center p-6 bg-white rounded-full cursor-pointer;
}

.swiper-pagination-bullet:hover {
    @apply outline-1 outline-primary opacity-100;
}

.swiper-pagination-bullet-active {
    @apply bg-white outline-1 outline-primary text-primary;
}