<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="aaf2d575-eba8-45bc-b13b-e826a4f8584c" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3bb1d65e-1ac2-4e9c-bd24-39ba9caa90ba">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="9ddc0dc1-fa4a-4875-a1c2-af91e33297ef" SortOrder="0">servicePage</ContentType>
    <ContentType Key="cf0f208e-8ff0-4860-97a8-647f00b8744f" SortOrder="1">contactPage</ContentType>
    <ContentType Key="76fa08a3-a27a-49b6-8a23-a437ef628415" SortOrder="2">aboutPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>ffb39744-6841-4cd2-9a5c-ccf1581385bb</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>cad3372a-f7f9-42ca-92bd-2ff6de11a78b</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3c066f17-fee9-41f7-af2d-b9c2ca3dae83</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>