<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9ddc0dc1-fa4a-4875-a1c2-af91e33297ef" Alias="servicePage" Level="2">
  <Info>
    <Name>Service Page</Name>
    <Icon>icon-piggy-bank color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="6807413e-abec-47bc-8588-2ad7ecd5023a">pageBanner</Composition>
    </Compositions>
    <DefaultTemplate>ServicePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c8aa8eea-5b67-4c0a-9314-4056a7e5a1b1">ServicePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="50dacb17-0fbf-4618-a7e9-f3313613c1c6" SortOrder="0">serviceDetail</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>3b92c892-b1b5-4509-bb2a-dc2278b25df4</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>cad3372a-f7f9-42ca-92bd-2ff6de11a78b</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>dcebc784-15ea-4f70-aa2b-b2955813254d</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>